{% extends 'base.html' %}
{% load static %}

{% block title%}Home{% endblock title%}

{% block homeactive %} active {%endblock homeactive%}

{% block body %}

<div class="container">
<div class="jumbotron">
  <h1 class="display-4">SuperBlog.com</h1>
  <p class="lead">This is a simple blogging application made with Django, Python and Bootstrap</p>
  <hr class="my-4">
  <p>Happy reading</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Read More</a>
</div>
</div>


<div class="container my-3">

  <h2>Articles</h2>

  {% for post in allPosts %}

  <div
    class="row no-gutters border rounded overflow-hidden my-4 flex-md-row mb-4 shadow-sm h-md-250 position-relative"
  >
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary">Blog by {{post.author}}</strong>
      <h3 class="mb-0">{{post.title}}</h3>
      <div class="mb-1 text-muted">{{post.datetime}}</div>
      <p class="card-text mb-auto">
        {{post.content| truncatechars:320}}
      </p>

      <div class="my-3">
      <a href="/blog" role="button" class="btn btn-primary">Read blog</a>
      </div>

    </div>
  </div>

  {% endfor %}

</div>


{% endblock body %}
