body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0;
}

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    border-radius: 10px;
    background: linear-gradient(to top, #fcb045, #fd1d1d, #833ab4);
}